


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* overflow-x: hidden; */
    /* margin: 0px auto; */
    max-width: 100%;
}
.section1 {
    background-image: url(./The\ town.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
nav {
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: lightslategrey;
}
.parentcontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.parentcontainer a:hover {
    color: indianred;
}
.input-checkbox-toggler {
    display: none;
}
.ham-icon {
    display: none;
}
.town {
    padding: 15px;
}
.town a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: bolder;
    font-family: sans-serif;
    padding: 20px;
}
.head-right {
    padding: 20px;
    margin-right: 10px;
}
.head-right a {
    text-decoration: none;
    color: white;
    font-size: x-large;
    padding: 20px;
    gap: 15px;
}
.nav-middle {
    text-align: center;
    padding: 200px;
}
.nav-middle h2 {
    color: white;
    text-shadow: 2px 3px black;
    font-size: 60px;
    font-family: sans-serif;
    font-weight: bolder;
}
.nav-middle p {
    color: white;
    font-size: x-large;
    font-family: sans-serif;
}
#arrowicon1 {
    background-color: lightblue;
    border-radius: 60%;
    font-size: 2rem;
    padding: 10px 20px 10px;
    display: inline-block;
    margin-top: 20%;
}
#arrowicon1:hover {
    color: black;
}
#intro{
    display: flex;
    gap: 20px;
    padding: 120px;
}
.intro1{
    width: 45vw;
}
.intro1{
    width: 100%;
}
.intro2{
    width: 100%;
}

.intro2 h1 {
    width: 100%;
    font-size: 2.4rem;
    color: #3496D8;
    margin-top: 0px;
}

.intro2 p {
    width: 100%;
    padding: 25px 5px;
    font-size: 1.5rem;
    color: gray;
    font-weight: 100;
}

.blue {
    text-decoration: none;
    color: blue;
}

.bottom-btn {
    background-color: #3496D8;
    padding: 15px 30px;
    text-decoration: none;
    color: white;
    border-radius: 25px;
    font-size: 1.5rem;
    line-height: 2;
}

.intro-1 {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 25px;
    line-height: 1.8;
    align-items: center;
    margin-bottom: 8%;
}

.intro-1_1>i,
.intro-1_2>i,
.intro-1_3>i {
    font-size: 5rem;
    color: #3496D8;
    display: flex;
    justify-content: center;
    line-height: 2.5;
}

.intro-h3-p>h3,
.intro-h3-p>h3,
.intro-h3-p>h3 {
    font-size: 1.5rem;
    font-family: sans-serif;
    color: #3496D8;
    text-align: center;
    line-height: 2;
}

.intro-h3-p>p,
.intro-h3-p>p,
.intro-h3-p>p {
    padding: 25px 15px;
    color: gray;
    font-size: 1.1rem;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 2;
}

#work {
    padding: 70px 5px;
}

.work-1>h1 {
    font-size: 3rem;
    color: #3496D8;
    font-weight: 300;
    font-family: sans-serif;
    line-height: 2;
    text-align: center;
}

.work-1>p {
    color: gray;
    font-size: 1.1rem;
    font-family: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.9;
    text-align: center;
}

.images {
    display: flex;
    gap: 30px;
    padding: 40px;
    width: 100%;
    z-index: 1;
    margin-bottom: 50px;
    overflow-x:scroll;
}
.imgcard{
    width: 220px;
    height: 330px;
}
.imgcard img {
    width: 100%;
    height: 300px;
}

.cardtext>h2 {
    font-size: 30px;
    font-weight: 200;
    color: red;
}

.cardtext>span {
    font-size: 30px;
    font-weight: bolder;
    color: white;
}

.cardtext>p {
    font-size: 30px;
    font-weight: 100px;
    color: red
}

.images-1,
.images-2,
.images-3,
.images-4,
.images-5,
.images-6,
.images-7 {
    position: relative;
}

figcaption {
    height: 30%;
}

.cardtext {
    position: absolute;
    display: none;
    left: 10px;
    right: 20px;
    top: 120px;
    bottom: 20px;

}

.images-1,
.images-2,
.images-3,
.images-4,
.images-5,
.images-6,
.images-7,
:hover>figcaption {
    display: block;
}

.imgcard:hover {
    opacity: 0.6;
    transition: 1s;

}

.section2 {
    background-image: url(./the-town-bg-02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}

.contacth2 {
    padding: 70px 50px;
    margin-top: 10px;
}

.contacth2 h2 {
    font-size: 3rem;
    font-weight: 500;
    padding: 10px;
    color: white;
}

.tm-underline {
    border-top: 2px solid white;
    height: 10px;
    padding: 10px;
    margin-bottom: 3rem;
}

.contacth2 p {
    color: white;
    font-size: 1.2rem;

}

.tel i {
    padding: 25px;
    padding-left: 50px;
    font-size: 2rem;
    color: whitesmoke;
}

.mail i {
    padding: 25px;
    padding-left: 50px;
    font-size: 2rem;
    color: whitesmoke;
}

.map i {
    padding: 25px;
    padding-left: 50px;
    font-size: 2rem;
    color: whitesmoke;
}

.email i {
    padding: 25px;
    padding-left: 50px;
    font-size: 2rem;
    color: whitesmoke;
}

.tel>a,
.mail>a,
.map>a {
    text-decoration: none;
    color: whitesmoke;
    font-size: larger;
    font-weight: 400;
}

.tel>a:hover,
.mail>a:hover,
.map>a:hover {
    color: blue;
}

form {
    padding-left: 50px;
}

input {
    padding: 5px 50px;
}

.submit-btn {
    padding: 6px;
    font-size: 18px;

}

.submit-btn:hover {
    background-color: cadetblue;
    color: white;
}

footer {
    background-color: lightslategray;
    color: white;
    text-align: center;
    padding: 2px;
}
@media screen and (max-width:400px) {
    .town > a{
        font-size: 1.6rem;
    }
    .ham-icon{
        display: block;
        font-size: 1.6rem;
    }
    .head-right{
        position: absolute;
        top: 65px;
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        display: none;
    }
    .head-right > a {
        color: black;
        padding: 0%;
    }
    .input-checkbox-toggler:checked ~ .head-right{
        display: flex;
        
    }
    .nav-middle{
        padding: 150px 0px;
    }
    #intro{
        flex-direction: column;
        padding: 80px 20px;
    }
    .intro1 > img{
        width: 100%;
    }
    .intro2{
        padding: 20px;
    }
    .intro2 > p{
        font-size: 1.3rem;
    }
    .intro-1{
        flex-direction: column;
        padding: 0px;
    }
    .images{
        overflow-x:scroll;

    }
    .contacth2{
        padding: 50px 15px;
    }
    .contacth2 > h2{
        font-size: 2rem;
    }
    .tm-underline{
        margin: 0%;
    }
    .tel>a,.mail>a,.map>a {
        font-size: medium;
    }
    .tel i,.mail i,.map i{
        padding: 0px;
        font-size: medium;
    }
    .tel,.mail,.map{
        padding-left: 50px;
    }
    input {
        padding: 5px ;
    }
    .submit-btn {
        font-size: .8rem;
    }
}
@media screen and (min-width:401px) and (max-width:1024px) {
    .town > a{
        font-size: 1.6rem;
    }
    .ham-icon{
        display: block;
        font-size: 1.6rem;
    }
    .head-right{
        position: absolute;
        top: 65px;
        left:0px;
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        display: none;
    }
    .head-right > a {
        color: black;
        padding: 0%;
    }
    .input-checkbox-toggler:checked ~ .head-right{
        display: flex;
        
    }
    .nav-middle{
        padding: 150px 0px;
    }
    #intro{
        flex-direction: column;
        padding: 80px 20px;
    }
    .intro1 > img{
        width: 100%;
    }
    .intro2{
        padding: 20px;
    }
    .intro2 > p{
        font-size: 1.3rem;
    }
    .intro-1{
        flex-direction: column;
        padding: 0px;
    }
    .images{
        overflow-x:scroll;
    }
    .contacth2 > h2{
        font-size: 2rem;
    }
    .tm-underline{
        margin: 0%;
    }
    .tel>a,.mail>a,.map>a {
        font-size: medium;
    }
    .tel i,.mail i,.map i{
        padding: 0px;
        font-size: medium;
    }
    .tel,.mail,.map{
        padding-left: 50px;
    }
    input {
        padding: 5px ;
    }
    .submit-btn {
        font-size: .8rem;
    }
}